
/* 
    Used for styling of the Twitter at Dawson (TAD) project
    Author     : Jeffrey Boisvert
*/

.button {
    
    -fx-cursor: hand;
    -fx-background-color: #1DA1F2;
    -fx-text-fill: white; 
    -fx-font-weight: bold; 
    -fx-border-color: black;
    
}

.label {
    -fx-word-wrap: break-word;
}

.exit-button{
    
  -fx-background-color: red;
  -fx-text-fill: white; 
  -fx-font-weight: bold; 
  -fx-cursor: hand;
    
}

.tweet-control-button {
    
    -fx-background-color: none;
    -fx-border-color: none;
    
}

.tweet-like {
    
    -fx-background-color: red;
    
}

.tweet-retweet, .saved-status {
    
    -fx-background-color: green;
    
}

.tweet-control-button:hover {
    
    -fx-border-color: none;
    -fx-background-color: yellow;
    
}

/*Style when button is disabled*/
.button:disabled {
     -fx-background-color: #7fc2e4;
     -fx-opacity: 1;
     -fx-text-fill:#000000;
}

.menu-item {
    
    -fx-cursor: hand;
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-text-fill: black; 
    
}

.tab {
    
    -fx-border-color: #cccccc;
    
}

.button:hover {
    
    -fx-text-fill: yellow;
    
}

.send-tweet-area{
    
    -fx-padding: 20;
    
}

.solid-black-border {
    
    -fx-border-color: grey;
    
}

.message-layout {
    
    -fx-padding: 20;
    
}

.button-selected{
    
    -fx-background-color: #7fc2e4; 
    -fx-text-fill: yellow;
    -fx-font-weight: bold; 
    -fx-scale-y: 1.1;
    
}

.menu-item:hover {
    
    -fx-background-color: #0086C9;
    -fx-text-fill: yellow;
    -fx-scale-y: 1.1;

    
}

.message-layout {
    
    -fx-padding: 20;
    
}

.button-unfollow{
    
    -fx-background-color: red;
    
}